<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>QuanLySinhVien</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>managestudent.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>managestudent.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/Logout.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListDanhMucController</display-name>
		<servlet-name>ListDanhMucController</servlet-name>
		<servlet-class>managestudent.controller.ListDanhMucController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListDanhMucController</servlet-name>
		<url-pattern>/ListDM.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DashBoardController</display-name>
		<servlet-name>DashBoardController</servlet-name>
		<servlet-class>managestudent.controller.DashBoardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashBoardController</servlet-name>
		<url-pattern>/DashBoard.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChuyenNganhController</display-name>
		<servlet-name>ChuyenNganhController</servlet-name>
		<servlet-class>managestudent.controller.ChuyenNganhController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChuyenNganhController</servlet-name>
		<url-pattern>/ChuyenNganh.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DanTocController</display-name>
		<servlet-name>DanTocController</servlet-name>
		<servlet-class>managestudent.controller.DanTocController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DanTocController</servlet-name>
		<url-pattern>/DanToc.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SinhVienController</display-name>
		<servlet-name>SinhVienController</servlet-name>
		<servlet-class>managestudent.controller.SinhVienController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinhVienController</servlet-name>
		<url-pattern>/SinhVien.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HocKyController</display-name>
		<servlet-name>HocKyController</servlet-name>
		<servlet-class>managestudent.controller.HocKyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HocKyController</servlet-name>
		<url-pattern>/HocKy.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>KhoaHocController</display-name>
		<servlet-name>KhoaHocController</servlet-name>
		<servlet-class>managestudent.controller.KhoaHocController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KhoaHocController</servlet-name>
		<url-pattern>/KhoaHoc.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LopHocController</display-name>
		<servlet-name>LopHocController</servlet-name>
		<servlet-class>managestudent.controller.LopHocController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LopHocController</servlet-name>
		<url-pattern>/LopHoc.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MonHocController</display-name>
		<servlet-name>MonHocController</servlet-name>
		<servlet-class>managestudent.controller.MonHocController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonHocController</servlet-name>
		<url-pattern>/MonHoc.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NganhController</display-name>
		<servlet-name>NganhController</servlet-name>
		<servlet-class>managestudent.controller.NganhController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NganhController</servlet-name>
		<url-pattern>/Nganh.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>TonGiaoController</display-name>
		<servlet-name>TonGiaoController</servlet-name>
		<servlet-class>managestudent.controller.TonGiaoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TonGiaoController</servlet-name>
		<url-pattern>/TonGiao.do</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>CharacterEncodingFilter</display-name>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>managestudent.utils.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>NganhProcessController</display-name>
		<servlet-name>NganhProcessController</servlet-name>
		<servlet-class>managestudent.controller.NganhProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NganhProcessController</servlet-name>
		<url-pattern>/NganhProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResultController</display-name>
		<servlet-name>ResultController</servlet-name>
		<servlet-class>managestudent.controller.ResultController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResultController</servlet-name>
		<url-pattern>/Result.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChuyenNganhProcessController</display-name>
		<servlet-name>ChuyenNganhProcessController</servlet-name>
		<servlet-class>managestudent.controller.ChuyenNganhProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChuyenNganhProcessController</servlet-name>
		<url-pattern>/ChuyenNganhProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DanTocProcessController</display-name>
		<servlet-name>DanTocProcessController</servlet-name>
		<servlet-class>managestudent.controller.DanTocProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DanTocProcessController</servlet-name>
		<url-pattern>/DanTocProcess.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>HocKyProcessController</display-name>
		<servlet-name>HocKyProcessController</servlet-name>
		<servlet-class>managestudent.controller.HocKyProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HocKyProcessController</servlet-name>
		<url-pattern>/HocKyProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>KhoaHocProcessController</display-name>
		<servlet-name>KhoaHocProcessController</servlet-name>
		<servlet-class>managestudent.controller.KhoaHocProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KhoaHocProcessController</servlet-name>
		<url-pattern>/KhoaHocProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LopHocProcessController</display-name>
		<servlet-name>LopHocProcessController</servlet-name>
		<servlet-class>managestudent.controller.LopHocProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LopHocProcessController</servlet-name>
		<url-pattern>/LopHocProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MonHocProcessController</display-name>
		<servlet-name>MonHocProcessController</servlet-name>
		<servlet-class>managestudent.controller.MonHocProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonHocProcessController</servlet-name>
		<url-pattern>/MonHocProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SinhVienProcessController</display-name>
		<servlet-name>SinhVienProcessController</servlet-name>
		<servlet-class>managestudent.controller.SinhVienProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinhVienProcessController</servlet-name>
		<url-pattern>/SinhVienProcess.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>TonGiaoProcessController</display-name>
		<servlet-name>TonGiaoProcessController</servlet-name>
		<servlet-class>managestudent.controller.TonGiaoProcessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TonGiaoProcessController</servlet-name>
		<url-pattern>/TonGiaoProcess.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChuyenNganhDetailController</display-name>
		<servlet-name>ChuyenNganhDetailController</servlet-name>
		<servlet-class>managestudent.controller.ChuyenNganhDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChuyenNganhDetailController</servlet-name>
		<url-pattern>/ChuyenNganhDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DanTocDetailController</display-name>
		<servlet-name>DanTocDetailController</servlet-name>
		<servlet-class>managestudent.controller.DanTocDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DanTocDetailController</servlet-name>
		<url-pattern>/DanTocDetail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>HocKyDetailController</display-name>
		<servlet-name>HocKyDetailController</servlet-name>
		<servlet-class>managestudent.controller.HocKyDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HocKyDetailController</servlet-name>
		<url-pattern>/HocKyDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>KhoaHocDetailController</display-name>
		<servlet-name>KhoaHocDetailController</servlet-name>
		<servlet-class>managestudent.controller.KhoaHocDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KhoaHocDetailController</servlet-name>
		<url-pattern>/KhoaHocDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LopHocDetailController</display-name>
		<servlet-name>LopHocDetailController</servlet-name>
		<servlet-class>managestudent.controller.LopHocDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LopHocDetailController</servlet-name>
		<url-pattern>/LopHocDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MonHocDetailController</display-name>
		<servlet-name>MonHocDetailController</servlet-name>
		<servlet-class>managestudent.controller.MonHocDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonHocDetailController</servlet-name>
		<url-pattern>/MonHocDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NganhDetailController</display-name>
		<servlet-name>NganhDetailController</servlet-name>
		<servlet-class>managestudent.controller.NganhDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NganhDetailController</servlet-name>
		<url-pattern>/NganhDetail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>SinhVienDetailController</display-name>
		<servlet-name>SinhVienDetailController</servlet-name>
		<servlet-class>managestudent.controller.SinhVienDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinhVienDetailController</servlet-name>
		<url-pattern>/SinhVienDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TonGiaoDetailController</display-name>
		<servlet-name>TonGiaoDetailController</servlet-name>
		<servlet-class>managestudent.controller.TonGiaoDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TonGiaoDetailController</servlet-name>
		<url-pattern>/TonGiaoDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DiemController</display-name>
		<servlet-name>DiemController</servlet-name>
		<servlet-class>managestudent.controller.DiemController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiemController</servlet-name>
		<url-pattern>/Diem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HocKyServicesController</display-name>
		<servlet-name>HocKyServicesController</servlet-name>
		<servlet-class>managestudent.controller.HocKyServicesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HocKyServicesController</servlet-name>
		<url-pattern>/HocKyServices.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddDiemServicesController</display-name>
		<servlet-name>AddDiemServicesController</servlet-name>
		<servlet-class>managestudent.controller.AddDiemServicesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddDiemServicesController</servlet-name>
		<url-pattern>/AddDiemServices.do</url-pattern>
	</servlet-mapping>
</web-app>